.receipt_image{
    padding-top: 20px;
    width: 60%;
    // height: 100%;
    border-radius: 20px 20px 20px 20px;
    
}
.formm{
    border-left: solid rgb(65, 64, 64) 2px;
    height: 100%;
    padding-top: 20px;
    padding-right: 0px;
    // padding-left: 0px;

}
.receiptImage{
    padding-left: 0px;
    padding-right: 0px;
}
.imgg{
    padding-left: 0px;
    padding-right: 0px;
}
.sidebar{
    padding-right: 0px;
    // padding-left: 0px;
}