.btnn {
  color: #000 !important;
  background-color: #74f2c4 !important;
  border-color: #000 !important;
  width: 355px;
  margin-bottom: 50px !important;
}
.icon-img {
  width: 700px;
  height: 250px;
}

